body {
  background-color: rgb(255,247,248);
  background-image: url('images/covidVirus.jpeg');
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.image {
  width: 40%;
  min-width: 300px;
  heigth: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}
